body {
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 700px) {
    .ant-card-body {
        padding: 12px !important;
    }
}

@media (min-width: 700px) {
    .ant-card-body {
        padding: 24px !important;
    }
}