body {
    margin: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 700px) {
    .ant-card-body {
        padding: 12px !important;
    }

    /* Force first level cols to be more packed in mobile view */
    main > .ant-row > .ant-col {
        margin-bottom: 6px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    /* Success and error notifications */
    .ant-notification-notice {
        display: none;
    }

    /*
    .ant-notification-notice-message, .ant-notification-notice-description {
        padding: 10px !important;
        display: none;
    }

    .ant-notification-notice-message {
        margin-bottom: 4px !important;
    }
    */
}

@media (min-width: 700px) {
    .ant-card-body {
        padding: 24px !important;
    }
}